<div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-8 gap-4">
  <div class="flex flex-col p-4" *ngFor="let i of this.invitations">
    <div
      class="relative flex m-auto rounded-full w-24 h-24 bg-gradient-to-b shadow-md"
      [class]="
        i.updatedAt ? (i.hasConfirmed ? 'from-green-600 to-green-700 text-white' : 'from-red-600 to-red-700 text-white') : 'from-gray-200 to-gray-300'
      "
    >
      <div class="absolute mt-4 w-full text-center text-6xl">
        {{ i.name.substring(0, 1) }}
      </div>
      <div *ngIf="i.scans > 0" class="absolute top-0 right-0 bg-red-600 rounded-full text-white font-bold text-center shadow h-6 w-6">
        {{ i.scans }}
      </div>
      <div *ngIf="i.updatedAt" class="absolute -bottom-2 w-full text-center text-xs mt-2 p-0.5 bg-gray-300 text-gray-700 shadow rounded">
        {{ i.updatedAt | date: 'dd/MM - HH:mm' }}
      </div>
    </div>
    <div class="text-center text-sm mt-2">{{ i.name }}</div>
  </div>
</div>
